 @charset 'utf-8';
body,html{height:100%}
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul{margin:0;padding:0}
dl, ul, ol, menu, li{list-style:none}
body, button, input, select, table, textarea{font-size:14px;color:#666}
fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
address,caption,em{font-style:normal}
a{color:#666;text-decoration:none}
a:focus,a:active,a:hover{color:#666;text-decoration:underline}
table{border-collapse:collapse;border-spacing:0}
.header{padding:30px 0;background:#f9f3f3}
.container{padding:50px 0;border-top:1px solid #ebebeb}
.content{width:80%;margin:0 auto}
.footer{height:150px;background:#fff;border-top:1px solid #ebebeb}
.blind{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;line-height:0;white-space:normal;word-wrap:break-word;word-break:break-all;clip:rect(0,0,0,0)}
.blind:before{display:block;width:0;height:0;font-size:0;content:'\00a0'} 

/* toggle ui common*/
.cm_tit{padding-bottom:20px;font-size:21px;line-height:1.5}
.cm_cont{padding-bottom:50px}
.sub_tit{padding:30px 0 10px;font-size:12px;color:#a9a9a9;font-weight:bold}
.sub_tit:first-child{padding-top:0}
.inp_info{font-size:12px;margin-bottom:20px;padding-bottom:10px;border-bottom:1px solid #ebebeb}
.inp_info strong{display:inline-block;margin-bottom:5px}
.sp_ico{background:url(../img/sp_form.png) no-repeat}
.info_lst{margin-top:10px}
.info_lst li{padding-top:5px;font-size:12px;line-height:1.5}
.cm_lst{overflow:hidden}
.cm_lst li{float:left;margin-right:20px}
.cm_lst li:last-child{margin-right:0}

/* TOGGLE BOX */
.toggle_lst{border-bottom:1px solid #e0e0e0}
.toggle_lst > li{border-top:1px solid #e0e0e0}
.toggle_lst > li:first-child{border-top:0}
.toggle_lst .toggle_btn{position:relative; width:100%; padding:13px 50px 13px 15px; text-align:left}
.toggle_lst .toggle_btn:after{position:absolute; top:50%; right:24px; transform:rotate(-135deg); width:8px; height:8px; margin-top:-6px; border-top:1px solid #2f332f; border-left:1px solid #2f332f; content:""}
.toggle_lst .toggle_btn .toggle_tit{display:block; max-width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:inline-block; color:#2f332f; font-family:"S-CoreDream-5Medium"; font-size:15px; line-height:24px}
.toggle_lst .toggle_btn .toggle_sub .toggle_date:last-child, .toggle_lst .toggle_btn .toggle_sub .toggle_writter:last-child{margin:0}
.toggle_lst .toggle_cont{display:none; overflow:hidden; margin:0 10px 20px; padding:20px; border-radius:10px; background:#f5f5f5; font-size:13px; line-height:18px}